body { padding-top: 40px; }

.row {
	margin-left: -10px;
}

.logo{
	padding-top: 25px;
}

.topline{
	margin-left: 0px;
}

.ombud-box {
	position: relative;
	margin: 15px 0;
	padding: 29px 19px 9px;
	background-color: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.ombud-box-wrap {
	position: absolute;
	top: -10px;
	left: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.ombud-heat {
	position: relative;
	margin: 0px 0;
	padding: 0px 0px 0px;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}	
.ombud-heat-25 {
		background: -moz-linear-gradient(left, rgba(43,208,216,1) 0%, rgba(224,63,42,1) 25%, rgba(224,63,42,0.01) 25%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,208,216,1)), color-stop(25%,rgba(224,63,42,1)), color-stop(25%,rgba(224,63,42,0.01))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 25%,rgba(224,63,42,0.01) 25%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 25%,rgba(224,63,42,0.01) 25%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 25%,rgba(224,63,42,0.01) 25%); /* IE10+ */
		background: linear-gradient(to right, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 25%,rgba(224,63,42,0.01) 25%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bd0d8', endColorstr='#03e03f2a',GradientType=1 ); /* IE6-9 */
	}
.ombud-heat-50 {
	background: -moz-linear-gradient(left, rgba(43,208,216,1) 0%, rgba(224,63,42,1) 50%, rgba(224,63,42,0.01) 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,208,216,1)), color-stop(50%,rgba(224,63,42,1)), color-stop(51%,rgba(224,63,42,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 50%,rgba(224,63,42,0.01) 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 50%,rgba(224,63,42,0.01) 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 50%,rgba(224,63,42,0.01) 51%); /* IE10+ */
	background: linear-gradient(to right, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 50%,rgba(224,63,42,0.01) 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bd0d8', endColorstr='#03e03f2a',GradientType=1 ); /* IE6-9 */
}
.ombud-heat-65 {
	background: -moz-linear-gradient(left, rgba(43,208,216,1) 0%, rgba(224,63,42,1) 65%, rgba(224,63,42,0.01) 65%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,208,216,1)), color-stop(65%,rgba(224,63,42,1)), color-stop(65%,rgba(224,63,42,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 65%,rgba(224,63,42,0.01) 65%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 65%,rgba(224,63,42,0.01) 65%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 65%,rgba(224,63,42,0.01) 65%); /* IE10+ */
	background: linear-gradient(to right, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 65%,rgba(224,63,42,0.01) 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bd0d8', endColorstr='#03e03f2a',GradientType=1 ); /* IE6-9 */
}
.ombud-heat-80 {
	background: -moz-linear-gradient(left, rgba(43,208,216,1) 0%, rgba(224,63,42,1) 80%, rgba(224,63,42,0.01) 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,208,216,1)), color-stop(80%,rgba(224,63,42,1)), color-stop(80%,rgba(224,63,42,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 80%,rgba(224,63,42,0.01) 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 80%,rgba(224,63,42,0.01) 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 80%,rgba(224,63,42,0.01) 80%); /* IE10+ */
	background: linear-gradient(to right, rgba(43,208,216,1) 0%,rgba(224,63,42,1) 80%,rgba(224,63,42,0.01) 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bd0d8', endColorstr='#03e03f2a',GradientType=1 ); /* IE6-9 */
}